* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: black;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
}

:root {
    --section-spacing-horizontal: 4rem;
    --section-spacing-vertical: 12rem;
    --container-width: 126rem;
}

header {
    width: 100vw;
    height: 8rem;
    position: absolute;
}

/* NAV @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

nav {
    margin: 0 auto;
    background-color: #5865f2;
    width: 126rem;
    max-width: 100vw;
    height: inherit;
    display: flex;
    padding: 0 var(--section-spacing-horizontal);
}

nav > * {
    flex: 1;
    height: inherit;
    width: auto;
}
nav > :nth-child(2) {
    flex-grow: 2;
}

/* NAV
    |__logo @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    |__link
    |__button
*/

.logo {
    background-image: url(../svgs/discord-svgrepo-com.svg);
    height: inherit;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    color: white;
}

/* NAV
    |__logo
    |__link @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    |__button
*/

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul * {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.header-link {
    padding: 1rem;
    margin: 1rem;
}

.header-link:hover {
    text-decoration: underline;
}

/* NAV
    |__logo 
    |__link
    |__btn @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button {
    padding: 1.1rem 1.4rem;
    font-size: 14px;
    border: none;
    border-radius: 2rem;
    font-weight: 100;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0 1rem 3rem -1.4rem black;
}

/* SECTION GENERIC @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


section:not(:last-child) {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



section:not(:nth-of-type(5)) .container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: var(--container-width);
    padding: var(--section-spacing-vertical) var(--section-spacing-horizontal);
    height: 100%;
}

/* SECTION 1 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

section:nth-of-type(1) {
    background-color: #5966f2;

}

section:nth-of-type(1) .container {
    background-color: #3040f1;
    flex-direction: column;
    
}

section:nth-of-type(1) .container .top {
    width: 100%;
    height: 20rem;
}

section:nth-of-type(1) .container .bottom {
    width: 100%;
    height: 20rem;
}

/* SECTION 2 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

section:nth-of-type(2) {
    background-color: white;
}

section:nth-of-type(2) .container {
    display: flex;
    justify-content: center;
}

section:nth-of-type(2) .container .img{
    flex: 3;
}

section:nth-of-type(2) .container .text{
    flex: 2;
}

.img{
    background-color: blue;
}

.text{
    background-color: red;
}

/* SECTION 3 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

section:nth-of-type(3) {
    background-color: grey;
}

section:nth-of-type(3) .container .img{
    flex: 3;
    order: 1;
}

section:nth-of-type(3) .container .text{
    flex: 2;
}


section:nth-of-type(3) .container {
    display: flex;
    justify-content: center;
    width: var(--container-width);
}

/* SECTION 4 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

section:nth-of-type(4) {
    background-color: white;
}

section:nth-of-type(4) .container {
    display: flex;
    
}

section:nth-of-type(4) .container .img{
    flex: 3;
}

section:nth-of-type(4) .container .text{
    flex: 2;
}


/* SECTION 5 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

section:nth-of-type(5) {
    background-color: grey;
}

section:nth-of-type(5) .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: var(--container-width);
    padding: calc(var(--section-spacing-vertical) / 2 ) calc(var(--section-spacing-horizontal) / 2 );
}

section:nth-of-type(5) .container .text{
    background-color: yellow;
    order: -1;
    flex: 1 0 1rem;
}

section:nth-of-type(5) .container .img{
    background-color: green;
    flex: 8 0 1rem;
}



/* SECTION 6 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

section:nth-of-type(6){
    height: 40vh;
    background-color: grey;
    width: 100vw;
    
}

section:nth-of-type(6) .container {
    flex-direction: column;
    padding: calc(var(--section-spacing-vertical) / 2) calc(var(--section-spacing-horizontal) / 2);
}


section:nth-of-type(6) .container .text{
    height: 40%;
    background-color: red;
}

section:nth-of-type(6) .container .btn{
    height: 40%;
    background-color: orange;
}